<div class="row m-3 bg-warning border border-danger">
  <div class="col-12 text-center">
    <!-- <div class="small">{{ Books.image }}</div> -->
    <img
      class="img-fluid"
      style="width: 100px; height: 150px"
      src="{{ Books.image }}"
      alt="Album cover"
    />
    <div class="text-truncate">{{ Books.name }}</div>
    <div class="small">{{ Books.author }}</div>
    <div class="small">
      {{ displayDescription }}
    </div>
    <button (click)="description()">
      {{ showMore ? "Read Less" : "Read More" }}
    </button>
    <button (click)="issue()">Issue</button>
  </div>
</div>
