<div class="container m-3">
  <label>Id</label><br />
  <input type="text" [(ngModel)]="newProduct.id" /><br />
  <label>Brand</label><br />
  <input type="text" [(ngModel)]="newProduct.brand" /><br />
  <label>Price</label><br />
  <input type="number" [(ngModel)]="newProduct.price" /><br />
  <button (click)="add()">Add Product</button>
  <div class="product-data">
    <h2>Product Data</h2>
    <table border="1">
      <tr>
        <th>Id</th>
        <th>Brand</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Value</th>
        <th></th>
      </tr>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.brand }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.qtySold }}</td>
        <td>{{ product.price * product.qtySold }}</td>
        <td>
          <span
            (click)="resetQuantity(product)"
            class="col-1 material-symbols-outlined"
          >
            close
          </span>
          <span
            (click)="incrementQuantity(product)"
            class="col-1 material-symbols-outlined"
          >
            check
          </span>
        </td>
      </tr>
    </table>
    <p style="color: blue">Number of Products: {{ products.length }}</p>
    <p style="color: blue">Total Quantity Sold: {{ getTotalQuantitySold() }}</p>
    <p style="color: blue">Total Sales Value: {{ getTotalSalesValue() }}</p>
  </div>
</div>
