.zero-run {
  font-weight: bold;
  color: grey;
}
.one-run {
  color: blue;
  font-weight: bold;
}
.two-run {
  color: green;
  font-weight: bold;
}
.three-run {
  color: orange;
  font-weight: bold;
}
.four-run {
  font-weight: bold;
  color: red;
}
.six-run {
  color: purple;
  font-weight: bold;
}
